<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>achievementId</key>
		<string>scrollalot_achievement_dance</string>
		<key>comboName</key>
		<string>Dance</string>
		<key>comboPattern</key>
		<string>ruruldld</string>
		<key>achieved</key>
		<false/>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>scrollalot_achievement_central</string>
		<key>comboName</key>
		<string>Central</string>
		<key>comboPattern</key>
		<string>rulurdld</string>
		<key>achieved</key>
		<false/>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>scrollalot_achievement_rush</string>
		<key>comboName</key>
		<string>Rush</string>
		<key>comboPattern</key>
		<string>duuddduud</string>
		<key>achieved</key>
		<false/>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>scrollalot_achievement_whirlpool</string>
		<key>comboName</key>
		<string>Whirlpool</string>
		<key>comboPattern</key>
		<string>rrlluudd</string>
		<key>achieved</key>
		<false/>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>scrollalot_achievement_tornado</string>
		<key>comboName</key>
		<string>Tornado</string>
		<key>comboPattern</key>
		<string>llddrruu</string>
		<key>achieved</key>
		<false/>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>scrollalot_achievement_shaky</string>
		<key>comboName</key>
		<string>Shaky</string>
		<key>comboPattern</key>
		<string>lrlrlrlrlr</string>
		<key>achieved</key>
		<false/>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>scrollalot_achievement_manyright</string>
		<key>comboName</key>
		<string>ManyRight</string>
		<key>comboPattern</key>
		<string>rrrrrrrrrr</string>
		<key>achieved</key>
		<false/>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>scrollalot_achievement_manyleft</string>
		<key>comboName</key>
		<string>ManyLeft</string>
		<key>comboPattern</key>
		<string>llllllllll</string>
		<key>achieved</key>
		<false/>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>scrollalot_achievement_manydown</string>
		<key>comboName</key>
		<string>ManyDown</string>
		<key>comboPattern</key>
		<string>dddddddddd</string>
		<key>achieved</key>
		<false/>
	</dict>
	<dict>
		<key>achievementId</key>
		<string>scrollalot_achievement_manyup</string>
		<key>comboName</key>
		<string>ManyUp</string>
		<key>comboPattern</key>
		<string>uuuuuuuuuu</string>
		<key>achieved</key>
		<false/>
	</dict>
	<dict>
		<key>comboPattern</key>
		<string>ududududud</string>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_achievement_jumpy</string>
		<key>comboName</key>
		<string>Jumpy</string>
	</dict>
	<dict>
		<key>comboName</key>
		<string>Twister</string>
		<key>comboPattern</key>
		<string>lurd</string>
		<key>achievementId</key>
		<string>scrollalot_achievement_twister</string>
		<key>achieved</key>
		<false/>
	</dict>
</array>
</plist>
