<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>routeName</key>
		<string>Maze5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_maze5</string>
		<key>routePattern</key>
		<string>drururdldrd</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Cross5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_cross5</string>
		<key>routePattern</key>
		<string>ururdrdldlul</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Circle10</string>
		<key>routeDistance</key>
		<real>0.01</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_circle10</string>
		<key>routePattern</key>
		<string>ullddrru</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Eight10</string>
		<key>routeDistance</key>
		<real>0.01</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_eight10</string>
		<key>routePattern</key>
		<string>urdldru</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Pyramid10</string>
		<key>routeDistance</key>
		<real>0.01</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_pyramid10</string>
		<key>routePattern</key>
		<string>rururdrdr</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Pyramid5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_pyramid5</string>
		<key>routePattern</key>
		<string>rururdrdr</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Eight5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_eight5</string>
		<key>routePattern</key>
		<string>urdldru</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Circle5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_circle5</string>
		<key>routePattern</key>
		<string>ullddrru</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Down55</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_down55</string>
		<key>routePattern</key>
		<string>ddddd</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Up55</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_up55</string>
		<key>routePattern</key>
		<string>uuuuu</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Right55</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_right55</string>
		<key>routePattern</key>
		<string>rrrrr</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Left55</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_left55</string>
		<key>routePattern</key>
		<string>lllll</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Race5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_race5</string>
		<key>routePattern</key>
		<string>lldrru</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Sin5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_sin5</string>
		<key>routePattern</key>
		<string>rdrurdru</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Snake5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_snake5</string>
		<key>routePattern</key>
		<string>ululul</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Cycle5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_cycle5</string>
		<key>routePattern</key>
		<string>uldrdrul</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>TaB5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_tab5</string>
		<key>routePattern</key>
		<string>udud</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Route5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_route5</string>
		<key>routePattern</key>
		<string>lurd</string>
	</dict>
	<dict>
		<key>routeDistance</key>
		<real>0.01</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_route10</string>
		<key>routeName</key>
		<string>Route10</string>
		<key>routePattern</key>
		<string>uldr</string>
	</dict>
</array>
</plist>
