<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>badgeName</key>
		<string>route10</string>
		<key>routeName</key>
		<string>Jump10</string>
		<key>routeDistance</key>
		<real>0.01</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_jump10</string>
		<key>routePattern</key>
		<string>uldddd</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route5</string>
		<key>routeName</key>
		<string>Jump5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_jump5</string>
		<key>routePattern</key>
		<string>urdddd</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route5</string>
		<key>routeName</key>
		<string>2F1B</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_2f1b</string>
		<key>routePattern</key>
		<string>rrlrrl</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route5</string>
		<key>routeName</key>
		<string>Soothe5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_soothe5</string>
		<key>routePattern</key>
		<string>lllrrrrrrlllllrrrrllr</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route5</string>
		<key>routeName</key>
		<string>Fence5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_fence5</string>
		<key>routePattern</key>
		<string>uudruddurudd</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route5</string>
		<key>routeName</key>
		<string>S5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_s5</string>
		<key>routePattern</key>
		<string>rulur</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route5</string>
		<key>routeName</key>
		<string>U5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_u5</string>
		<key>routePattern</key>
		<string>dddruuu</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route5</string>
		<key>routeName</key>
		<string>RC5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_rc5</string>
		<key>routePattern</key>
		<string>uurddruu</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route5</string>
		<key>routeName</key>
		<string>Kreuz5</string>
		<key>routeDistance</key>
		<real>0.005</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_kreuz5</string>
		<key>routePattern</key>
		<string>lrudrldu</string>
	</dict>
</array>
</plist>
