<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>badgeName</key>
		<string>route12</string>
		<key>routeName</key>
		<string>Pole12</string>
		<key>routeDistance</key>
		<real>0.012</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_pole12</string>
		<key>routePattern</key>
		<string>rrluuuu</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route12</string>
		<key>routeName</key>
		<string>Route12</string>
		<key>routeDistance</key>
		<real>0.012</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_route12</string>
		<key>routePattern</key>
		<string>dlur</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route12</string>
		<key>routeName</key>
		<string>P12</string>
		<key>routeDistance</key>
		<real>0.012</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_p12</string>
		<key>routePattern</key>
		<string>uuurdl</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route12</string>
		<key>routeName</key>
		<string>Goggles12</string>
		<key>routeDistance</key>
		<real>0.012</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_goggles12</string>
		<key>routePattern</key>
		<string>drurdruuldluld</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route12</string>
		<key>routeName</key>
		<string>Jump12</string>
		<key>routeDistance</key>
		<real>0.012</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_jump12</string>
		<key>routePattern</key>
		<string>urddd</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route7</string>
		<key>routeName</key>
		<string>C7</string>
		<key>routeDistance</key>
		<real>0.007</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_c7</string>
		<key>routePattern</key>
		<string>lldddrr</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route7</string>
		<key>routeName</key>
		<string>M7</string>
		<key>routeDistance</key>
		<real>0.007</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_m7</string>
		<key>routePattern</key>
		<string>uuurdrurddd</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route7</string>
		<key>routeName</key>
		<string>W7</string>
		<key>routeDistance</key>
		<real>0.007</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_w7</string>
		<key>routePattern</key>
		<string>dddluldluuu</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route7</string>
		<key>routeName</key>
		<string>P7</string>
		<key>routeDistance</key>
		<real>0.007</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_p7</string>
		<key>routePattern</key>
		<string>uuurdl</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route7</string>
		<key>routeName</key>
		<string>U7</string>
		<key>routeDistance</key>
		<real>0.007</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_u7</string>
		<key>routePattern</key>
		<string>dddrruuu</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route7</string>
		<key>routeName</key>
		<string>HB7</string>
		<key>routeDistance</key>
		<real>0.007</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_hb7</string>
		<key>routePattern</key>
		<string>rurddrur</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route7</string>
		<key>routeName</key>
		<string>Spiral7</string>
		<key>routeDistance</key>
		<real>0.007</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_spiral7</string>
		<key>routePattern</key>
		<string>rullddrr</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route7</string>
		<key>routeName</key>
		<string>Stairs7</string>
		<key>routeDistance</key>
		<real>0.007</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_stairs7</string>
		<key>routePattern</key>
		<string>drdrdr</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route7</string>
		<key>routeName</key>
		<string>Step7</string>
		<key>routeDistance</key>
		<real>0.007</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_step7</string>
		<key>routePattern</key>
		<string>llull</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route7</string>
		<key>routeName</key>
		<string>Plus7</string>
		<key>routeDistance</key>
		<real>0.007</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_plus7</string>
		<key>routePattern</key>
		<string>udlrrldu</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route7</string>
		<key>routeName</key>
		<string>Corner7</string>
		<key>routeDistance</key>
		<real>0.007</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_corner7</string>
		<key>routePattern</key>
		<string>rruu</string>
	</dict>
	<dict>
		<key>badgeName</key>
		<string>route7</string>
		<key>routeName</key>
		<string>Jump7</string>
		<key>routeDistance</key>
		<real>0.007</real>
		<key>achieved</key>
		<false/>
		<key>achievementId</key>
		<string>scrollalot_route_jump7</string>
		<key>routePattern</key>
		<string>uldddd</string>
	</dict>
</array>
</plist>
